<% if @that_order.nil? && @that_patient.present? || @that_order.present? && @that_patient.nil? || @that_order.nil? && @that_patient.nil?  %>
  <div class="alert alert-danger" role="alert">
    <%= @record %>
  </div>
<% end %>

<div class="card">
  <div class="card-body">
    <h1>Cancel Order</h1>
    <%= form_tag cancel_order_path, :method => "get" do %>
      <div class="row">
        <%= label_tag(:order_code) %>
        <div class="col-1">
          <%= text_field_tag :search_order, params[:search_order], presence: true%>
        </div>

      </div>
      <div class="row">
        <%= label_tag(:phone_number) %>
        <div class="col-1">
          <%= text_field_tag :search_patient, params[:search_patient] %>
        </div>

      </div>
      <%= submit_tag "Search", :name => nil, class:'btn btn-primary'%>
    <% end %>
  </div>
</div>

<div class="card">
  <div class="card_body">
    <div class="row">
      <div class="col">
      <div class="col">
        <% if @that_business_unit.present? %>
          <h1>Order Details</h1>
          <table class="table table-striped">
            <thead>
            <tr>
              <th><%= I18n.t('admin.business_units.notices.list.country') %></th>
              <th><%= I18n.t('admin.business_units.notices.list.city') %></th>
              <th><%= I18n.t('admin.business_units.notices.list.district') %></th>
              <th><%= I18n.t('admin.business_units.notices.list.name') %></th>
              <th><%= I18n.t('admin.orders.notices.list.order_date') %></th>
            </tr>
            </thead>

            <tbody>
            <tr>
              <td class="align-middle"><%= @that_business_unit.name %></td>
              <td class="align-middle"><%= @that_business_unit.country.name %></td>
              <td class="align-middle"><%= @that_business_unit.city.name %></td>
              <td class="align-middle"><%= @that_business_unit.district.name %></td>
              <td class="align-middle"><%= @that_order.last.order_date %></td>
            </tr>
            </tbody>
          </table>
          <%= button_to 'Delete Order', cancel_order_finalize_path, type: "button", class: 'btn btn-outline-dark' %>
        <% end %>

      </div>

    </div>
  </div>
</div>

<div class="card-footer">
  <small class="text-muted">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;)" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to 'Home', root_url %></li>
      </ol>
    </nav>
  </small>
</div>